<h1>Editing issue</h1>

<% form_for(@issue) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :school_year %><br />
    <%= f.text_field :school_year %>
  </p>
  <p>
    <%= f.label :est_date %><br />
    <%= f.date_select :est_date %>
  </p>
  <p>
    <%= f.label :current? %><br />
    <%= f.check_box :current? %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @issue %> |
<%= link_to 'Back', issues_path %>
