<% if false -%>
<% @top_articles.each do |article| %>
<p><%= link_to h(article.title), article %></p>
<% end -%>
<p>LAME</p>


<% @list_articles.each do |article| %>
<p><%= link_to h(article.title), article %></p>
<% end -%>
<% end -%>
<p><%=h  @top_articles %></p>
<p><%=h  @list_articles %></p>
<p><%= "broken" if @articles==nil && @top_articles==nil && @list_articles==nil %>
Articles#home
