<h1><%= @article.title %></h1>

<p>
  <%=h @article.date %><br/>
  <%=h @article.section %>
</p>


<p>
  <%=h @article.author %><br />
  <i><%=h @article.author_position %></i>
</p>


<p>
  <%= make_line_breaks h(@article.body) %>
</p>

<p> Issue:  <%= @article.issue %></p>


<%  if logged_in? %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %> |
  <%= link_to 'Add an image to this article', new_image_path %>
<% end %>
